@using True.Kentico.Forms.Html.Extensions
@using True.Kentico.Forms.Infrastructure

@model True.Kentico.Forms.Forms.FormParts.IForm

@Html.KenticoForm().BeginForm("Submit", "KenticoForm", Model.Name, Model.SubmissionOptions)

<div id="form-result">

    @Html.KenticoForm().RenderFormControls(Model.Controls)
    
    <div class="form-row">
        @Html.KenticoForm().LabelFor(Model, "DateOfBirth")
        @Html.KenticoForm().CalendarFor(Model, "DateOfBirth")
    </div>
    
    @Html.KenticoForm().SubmitButton(Model.SubmitText)
    
</div>

@Html.KenticoForm().EndForm()

<hr />

<label data-submit-message class="is-invalid"></label>
