@using True.Kentico.Forms.Forms.FormParts
@using True.Kentico.Forms.Html.Extensions
@using True.Kentico.Forms.Infrastructure
@using True.Kentico.Forms.Web.Renderers


@model True.Kentico.Forms.Web.Models.ShortForm

@Html.KenticoForm().BeginForm("Submit", "KenticoForm", Model.Name, Model.SubmissionOptions)

<div id="form-result">

    @Html.KenticoForm().RenderFormControls(Model.Controls)
    
    @*<div class="form-row">
        @Html.KenticoForm().LabelFor(Model, "UkPostcode")
        @Html.KenticoForm().CalendarFor(Model, "UkPostcode")
    </div>*@
    
    @Html.KenticoForm().SubmitButton(Model.SubmitText)
    
</div>

@Html.KenticoForm().EndForm()

<hr />

<label data-submit-message class="is-invalid"></label>
