@using True.Kentico.Forms.Html.Extensions
@using True.Kentico.Forms.Infrastructure

@model True.Kentico.Forms.Web.Models.ShortForm

@Html.KenticoForm().BeginForm("Submit", "KenticoForm", Model.Name, Model.SubmissionOptions)

<div>
    @Html.KenticoForm().TextBoxFor(Model, "FirstName", new { @class = "first--name", @placeholder = "What yer mum calls ye" })
    @Html.KenticoForm().EmailFor(Model, "EmailAddress", new { @class = "email--input" })
    @Html.KenticoForm().TextBoxFor(Model, "UkPostcode")
</div>
<div>
    @Html.KenticoForm().SubmitButton(Model.SubmitText, new { @class = "submit--buton", @data_submit_type = "" })
</div>
@Html.KenticoForm().EndForm()

<hr />

<label data-submit-message class="is-invalid"></label>
