@using True.Kentico.Forms.Forms.FormParts
@using True.Kentico.Forms.Html.Extensions
@using True.Kentico.Forms.Infrastructure
@using True.Kentico.Forms.Web.Renderers


@model IForm

@Html.KenticoForm().BeginForm("Save", "KenticoForm", Model.Name, Model.SubmissionOptions)

<div id="form-result">

    @Html.KenticoForm().RenderFormControls(Model.Controls)

    @Html.KenticoForm().LabelFor(Model, "FirstName")
    
    @Html.KenticoForm().LabelFor(Model, "FirstName", new CustomLabelRenderer())
    
    @Html.KenticoForm().SubmitButton(Model.SubmitText)

</div>

@Html.KenticoForm().EndForm()

<hr />

<div data-submit-message></div>