@using True.Kentico.Forms.Forms.FormParts
@using True.Kentico.Forms.Html
@using True.Kentico.Forms.Html.Extensions

@model Form
@{
    ViewBag.Title = "Index";
    var KenticoForm = new KenticoForm<Form>(Model);
}

@KenticoForm.BeginForm()
<div id="form-result">
    <input type="hidden" name="form-name" value="@Model.Name" />
    <input type="hidden" name="submit-text" value="@Model.SubmitText" />

    @KenticoForm.RenderFormControls(Model.Controls)
    
    @KenticoForm.SubmitButton("Submit")

</div>
@KenticoForm.EndForm()